/* Header */

.navbar {
	position: absolute !important;
}

/* End Header */

/* React Date Picker */

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
	display: block;
	width: 100%;
}

/* End React Date Picker */

/* Data Table */

#data-table {
	.rdt_TableBody {
		min-height: 10rem;
	}

	.dropdown-menu {
		min-width: 0rem;
	}

	//* icons
	i {
		position: relative;
		bottom: 1px;
	}
}

/* End Data Table */

/* React Select */

.react-select-inner__control {
	border-radius: 0.75rem !important;
	padding: 0.2rem 0.5rem !important;
	color: #737491 !important;
	border: 1px solid #dfdfeb !important;
	box-shadow: 0 0 0 0 transparent !important;
}

.react-select-inner__control--is-focused {
	border: 1px solid #dfdfeb !important;
}

.react-select-inner__value-container {
	font-size: 1rem !important;
}

/* End React Select */

/* Background */

.shape {
	z-index: 0 !important;
}

/* End Background */

/* Spinner */

.cs-page-loading {
	display: flex;
	width: 100%;
	height: 12rem;
	-webkit-transition: all 0.4s 0.2s ease-in-out;
	transition: all 0.4s 0.2s ease-in-out;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
}
.cs-page-loading.active {
	opacity: 1;
	visibility: visible;
}
.cs-page-loading-inner {
	position: relative;
	top: 70%;
	left: 0;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
}
.cs-page-loading.active > .cs-page-loading-inner {
	opacity: 1;
}
.cs-page-loading-inner > span {
	display: block;
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	font-weight: normal;
	color: #737491;
}
.cs-page-spinner {
	display: inline-block;
	width: 2.75rem;
	height: 2.75rem;
	margin-bottom: 0.75rem;
	vertical-align: text-bottom;
	border: 0.15em solid #766df4;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: spinner 0.75s linear infinite;
	animation: spinner 0.75s linear infinite;
}
@-webkit-keyframes spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* End Spinner */
